<!DOCTYPE html>
<html data-ng-app="chasingshadows">
<head>
    <title>Chasing Shadows</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body data-ng-controller="rootController" data-ng-keydown="onKeyDown($event)" data-ng-keyup="onKeyUp($event)">
<!-- inject:js -->
<!-- endinject -->

<div class="map-box" data-ng-controller="mapController"
     style="width:{{visibleMap.width}}px;height:{{visibleMap.height}}px;">

    <div class="{{player.sprite.sheet}} {{player.sprite.sheet}}-{{player.sprite.action}}-{{player.sprite.dir}}-{{player.sprite.frame}}"
         style="position:absolute;
            left:{{player.render.x}}px;
            top:{{player.render.y}}px;
            width:{{player.render.width}}px;
            height:{{player.render.height}}px;"
            >
    </div>

    <div class="bounding-box" data-ng-if="show_bounds" style="position:absolute;
            left:{{player.bounds.x}}px;
            top:{{player.bounds.y}}px;
            width:{{player.bounds.width}}px;
            height:{{player.bounds.height}}px;"></div>

</div>

<div class="hud">
    <table class="keys-table">
        <tr>
            <th>Keys</th>
        </tr>
        <tr data-ng-repeat="(name, pressed) in keys" data-ng-class="{'active': pressed}">
            <td>{{name}}</td>
        </tr>
    </table>

    <div data-ng-class="{'active': isPaused()}">paused: {{isPaused()}}</div>
</div>

</body>
</html>