<!DOCTYPE html>
<html data-ng-app="chasingshadows">
<head>
    <title>Chasing Shadows</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body data-ng-controller="rootController" data-ng-keydown="onKeyDown($event)" data-ng-keyup="onKeyUp($event)">
<!-- inject:js -->
<!-- endinject -->

<div class="map-box" data-ng-controller="mapController"
     style="width:{{visibleMap.width}}px;height:{{visibleMap.height}}px;">

    <div class="{{obj.sprite.sheet}} {{obj.sprite.sheet}}-{{obj.sprite.action}}-{{obj.sprite.dir}}-{{obj.sprite.frame}}"
         data-ng-repeat="obj in objects"
         style="position:absolute;
            left:{{obj.render.x-getCameraX()}}px;
            top:{{obj.render.y-getCameraY()}}px;
            width:{{obj.render.width}}px;
            height:{{obj.render.height}}px;"
            >
    </div>

    <div class="bounding-box" data-ng-if="show_bounds"
         data-ng-repeat="obj in objects"
         style="position:absolute;
            left:{{obj.bounds.x-getCameraX()}}px;
            top:{{obj.bounds.y-getCameraY()}}px;
            width:{{obj.bounds.width}}px;
            height:{{obj.bounds.height}}px;">
    </div>
</div>

<div class="hud">
    <table class="keys-table">
        <tr>
            <th>Keys</th>
        </tr>
        <tr data-ng-repeat="(name, pressed) in keys" data-ng-class="{'active': pressed}">
            <td>{{name}}</td>
        </tr>
    </table>

    <div data-ng-class="{'active': isPaused()}">paused: {{isPaused()}}</div>
</div>

</body>
</html>